HelloWorldUnityWithSelfHostedOwin.Business/obj
HelloWorldUnityWithSelfHostedOwin.Console/bin
HelloWorldUnityWithSelfHostedOwin.Console/obj
HelloWorldUnityWithSelfHostedOwin/bin
HelloWorldUnityWithSelfHostedOwin/obj
HelloWorldUnityWithSelfHostedOwin.Business/bin
HelloWorldUnityWithSelfHostedOwin.v11.suo
